In [10]:
# Take input from user and print it
n = int(input("enter a number"))

enter a number12

In [3]:
print(n)

2

In [7]:
#Take input from user twice, store it in two variable, and print their addition
n1 = int(input("enter a number"))
n2 = int(input("enter another number"))

enter a number67
enter another number43

In [5]:
print(n1+n2)

9

In [9]:
#Take input from user twice, store it in two variables, and print the maximum between them.
if(n1>n2):
    print("max is", n1)
else:
    print("max is" ,n2)

max is 67

In [12]:
#Take input from user and print multiplication table of the input number using for loop and range.
for i in range(11):
    print(i*n)
    i +=1

0
12
24
36
48
60
72
84
96
108
120

In [13]:
#Using range function print number from 100 to 1
for each in range (100,0,-1):
    print(each)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

# Code to print  
    * * * * * 
    * * * * *
    * * * * *
    * * * * *

In [16]:
n = 5

for i in range(4):
    print(5*" *")

 * * * * *
 * * * * *
 * * * * *
 * * * * *

In [17]:
for i in range(1,6):
    print(i*" *")

 *
 * *
 * * *
 * * * *
 * * * * *

In [18]:
#- Take input from user, and output True if its prime, False otherwise.
count = 0
for i in range(1,n+1):
    if(n%i==0):
        count +=1
if (count > 2):
    print("prime")
else:
    print("not prime")

not prime

In [24]:
#Print all prime number between 10 - 100
for i in range(10,101):
    count = 0
    for j in range(2,i):
        if (i%j==0):
            count +=1
    if(count <1):
        print("prime",i)

prime 11
prime 13
prime 17
prime 19
prime 23
prime 29
prime 31
prime 37
prime 41
prime 43
prime 47
prime 53
prime 59
prime 61
prime 67
prime 71
prime 73
prime 79
prime 83
prime 89
prime 97

Print common elements between two list
use regular for loop
use list comprehension
[1,2,3,4,5,6] & [1,3,5,7,9,11]

In [43]:
list1 =[1,2,3,4,5,6]
list2 = [1,3,5,7,9,11]
list3 = []
for i in list1:
    if i in list2:
        list3.append(i)
print(list3)

[1, 3, 5]

In [44]:
list1 =[1,2,3,4,5,6]
list2 = [1,3,5,7,9,11]
list(set(list1).intersection(list2))

[1, 3, 5]

In [45]:
mat_a = [[1,2,3],
         [4,5,6],
         [7,8,9]]
print(mat_a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [47]:
for each in mat_a:
    print(max(each))

3
6
9

In [48]:
for each in mat_a:
    print(sum(each))

6
15
24

Find out how many time the words starting datafile copy has appeared in the file

In [50]:
count =0
file = open('log.txt')
for each_line in file:
    if "starting datafile copy" in each_line:
        count +=1
print(count)    
file.close()

837

Find out how many time the words datafile copy complete has appeared in the file

In [1]:
count =0
file = open('log.txt')
for each_line in file:
    if "starting datafile copy" in each_line:
        count +=1
print(count)    
file.close()

837

In [2]:
import pandas as pd

In [3]:
poke = pd.read_csv('pokemon.csv')

In [4]:
poke.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [5]:
type(poke)

pandas.core.frame.DataFrame

In [6]:
type(poke['abilities'])

pandas.core.series.Series