# Sequences

1. List
2. Tuple
3. String

In [1]:
my_string = "Nishant Gautam"

my_list = [1,2,3,4,5] # mutable

my_tuple = (10,20,30,40,50) # immutable

# tuple is faster than list

# Slicing

In [2]:
example = "computer"

In [3]:
print(example[7]) # fetch a single element
print(example[1:4]) # fetches a sequence
print(example[1:] )# sequence till end
print(example[:5]) # sequence from begining
print(example[-1]) # gets the last elemt
print(example[-3:]) # from last 3rd to end
print(example[:-2]) # from beg to last 2nd
print(example[0:7]) # 
print(example[7:0:-1]) # goes in reverse dicrection
print(example[0:8:2]) # prints every 2nd charecter

r
omp
omputer
compu
r
ter
comput
compute
retupmo
cmue

```example[start, end, by]```

# TODO -
Create examples of list and tuple

In [4]:
x = "Hello " + "People "
x

'Hello People '

In [5]:
a = [1,2,3]
b = [4,5]
a + b

[1, 2, 3, 4, 5]

In [6]:
a[1] = 99
a

[1, 99, 3]

In [7]:
x = (1,2,3)
y = (4,5)
x + y

(1, 2, 3, 4, 5)

In [8]:
"Good " * 5

'Good Good Good Good Good '

In [9]:
[1,2] * 5

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [10]:
(1,2) * 3

(1, 2, 1, 2, 1, 2)

# membership

In [11]:
100 in [10,20,30]

False

In [12]:
"ug" in "bug"

True

# useful

- min and max
- len
- sorted
- count
- index

In [13]:
min([1,5,8])

1

In [14]:
max([8,77,9])

77

In [15]:
max(['X','x'])

'x'

In [16]:
x = "hippo"
x.count('p')

2

In [17]:
my_list.index(3)

2

# Lists

In [18]:
marks = [55,75,88,93,78]
bonus_marks = 5
updated_marks = []
# make use of append
# syntax = list_name.append(element)

for current_marks in marks:
    updated_marks.append(current_marks + bonus_marks)

print(updated_marks)

[60, 80, 93, 98, 83]

# list comprehension

In [19]:
marks = [55,75,88,93,78]
bonus_marks = 3
# [logic or operation for variable in list]
new_marks = [current_marks + bonus_marks for current_marks in marks]
new_marks

[58, 78, 91, 96, 81]

In [20]:
marks = [55,75,88,93,78]
bonus_marks = [3,5,8,7,8]
updated = []
for current_marks, current_bonus in zip(marks, bonus_marks):
    updated.append(current_marks + current_bonus)

print(updated)

[58, 80, 96, 100, 86]

In [21]:
new = [current_marks + current_bonus for current_marks, current_bonus in zip(marks, bonus_marks)]

In [22]:
# isnumeric - True is you pass integer value else False

In [23]:
[number**2 for number in range(10,20) if number%2 == 0 ]

[100, 144, 196, 256, 324]

In [24]:
[number**2 for number in range(10,20)]

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

# enumerate

In [25]:
marks

[55, 75, 88, 93, 78]

In [26]:
count = 0
for current_marks in marks:
    print(current_marks, " is at position => ", count)
    count = count + 1

55  is at position =>  0
75  is at position =>  1
88  is at position =>  2
93  is at position =>  3
78  is at position =>  4

In [27]:
for position, current_marks in enumerate(marks):
    print(current_marks, " is at position => ", position)

55  is at position =>  0
75  is at position =>  1
88  is at position =>  2
93  is at position =>  3
78  is at position =>  4

# zip and enumerate

In [28]:
my_tuple

(10, 20, 30, 40, 50)

In [29]:
a,b,c,d = my_tuple # unpacking

ValueError: too many values to unpack (expected 4)

In [30]:
my_tuple = (1,(2,3))
a,(b,c) = my_tuple

In [31]:
for index,( cu_ma, cu_bo )in enumerate(zip(marks, bonus_marks)):
    print(index, cu_ma, cu_bo)

0 55 3
1 75 5
2 88 8
3 93 7
4 78 8

### 1. Read about useful functions for list
- del
- append
- extend
- insert
- pop
- remove
- reverse
- sort
- sorted

### 2. Print common elements between two list
- use regular for loop
- use list comprehension
- ```[1,2,3,4,5,6] & [1,3,5,7,9,11]```

### 3 Create a variable like below and play around with it:

```
matrix = [[1,2,3],[4,5,6],[7,8,9]]
```
- write a for loop
- try to access elements

In [36]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]

# list vs tuple

In [32]:
import sys
my_name = "Nishant Gautam"
sys.getsizeof(my_name)

63

In [33]:
a = (112.25,254.0,3.5)
b = [112.25,254.0,3.5]
print(sys.getsizeof(a))
print(sys.getsizeof(b))

72
88

In [34]:
from timeit import timeit
timeit(stmt="my_list=[1,2,3,4]", number = 100000000)

3.6349857000004704

In [35]:
timeit(stmt="my_tuple=(1,2,3,4)", number = 100000000)

0.9743640560009226

# Set and Dictionary

In [37]:
my_list = [1,1,2,2,3]
my_set = {1,1,2,2,3}

In [38]:
my_list

[1, 1, 2, 2, 3]

In [39]:
my_set

{1, 2, 3}

In [46]:
my_list = [1,1,2,2,3,4,4,5] * 2000
unique_values = set(my_list)
unique_values

{1, 2, 3, 4, 5}

list(), tuple(), set()

In [47]:
for each in unique_values:
    print(each)

1
2
3
4
5