# odd even

In [1]:
number = 15

remainder = number % 2
if remainder == 0:
    print("Even")
else:
    print("Odd")

Odd

# Grading Program
```
< 35 - fail
>= 36 - 75 - pass
>= 76 - 100 - distinction
```

### generic syntax

```
if condition:
    print("")
elif condition:
    print("")
elif condition:
    print("")
else:
    print()
```

In [2]:
marks = 120

if marks < 0 or marks > 100:
    print("Invalid Input")
elif marks <= 35:
    print("Fail")
elif marks <=75:
    print("Pass")
else:
    print("Distinction")

Invalid Input

# Loops

```
for - 
[1,25,25,78,47] - List
(15,15,78,98,58) - Tuple
{15,16,17,18 } - Set
```
while
- print multiplication table
- print number from 1 - 100

# print multiplication table of 85 upto 15 times

```
print(85 * 1)
print(85 * 2)
print(85 * 3)
print(85 * 4)
...
print(85 * 15)
```

In [3]:
count = 1
while count <= 15:
    print(85*count)
    count += 1

print("Mult is over")

85
170
255
340
425
510
595
680
765
850
935
1020
1105
1190
1275
Mult is over

# Fibonacci Series
```
0
1
1
2
3
5
8
13
21
34
55
89
```

In [4]:
number_a = 0
number_b = 1

print(number_a)  # 0
print(number_b) # 1

number_c = number_a + number_b # 1
print(number_c)

number_a = number_b
number_b = number_c

number_c = number_a + number_b
print(number_c)

number_a = number_b
number_b = number_c

number_c = number_a + number_b
print(number_c)

number_a = number_b
number_b = number_c

0
1
1
2
3

In [5]:
number_a = 0
number_b = 1

print(number_a) 
print(number_b)

while number_a + number_b < 100:
    number_c = number_a + number_b
    print(number_c)

    number_a = number_b
    number_b = number_c

0
1
1
2
3
5
8
13
21
34
55
89

# break, continue and else in loops
# zip, zip longest and range

In [6]:
88 in [1,5,6]

False

In [7]:
employees = [1,2,3,4,5,6,7,8,9,10]
excluded_emp = [5,7,8]

for current_emp in employees:
    if current_emp in excluded_emp:
        continue
        
    print("Transfer Bonus to Employee --> ", current_emp)

Transfer Bonus to Employee -->  1
Transfer Bonus to Employee -->  2
Transfer Bonus to Employee -->  3
Transfer Bonus to Employee -->  4
Transfer Bonus to Employee -->  6
Transfer Bonus to Employee -->  9
Transfer Bonus to Employee -->  10

# keep taking input from user untill he enters end

In [8]:
while True:
    data = input("Please enter something ")
    print(data)
    
    if data == 'end':
        break

print("outside while loop")

Please enter something 12
12
Please enter something 12
12
Please enter something 45
45
Please enter something 47
47
Please enter something 59
59
Please enter something end
end
outside while loop

In [9]:
employees = [1,2,3,4,5,6,7,8,-9,10,0]
# employees = [1,2,3,4,5,6,7,8,9,10]


for current_emp in employees:
    if current_emp <= 0:
        break 
    print("Transfer Bonus to Employee --> ", current_emp)
else:
    print("Success Execution, No Faulty Data Found")

Transfer Bonus to Employee -->  1
Transfer Bonus to Employee -->  2
Transfer Bonus to Employee -->  3
Transfer Bonus to Employee -->  4
Transfer Bonus to Employee -->  5
Transfer Bonus to Employee -->  6
Transfer Bonus to Employee -->  7
Transfer Bonus to Employee -->  8

# range

In [10]:
count = 1
while count <= 15:
    print(85*count)
    count += 1

print("Mult is over")

85
170
255
340
425
510
595
680
765
850
935
1020
1105
1190
1275
Mult is over

In [11]:
# range - list start to end-1 with step size
for each in range(2,11,2):
    print(each)

2
4
6
8
10

In [12]:
some_list = list(range(10,50,2))
print(some_list)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

# zip and zip longest

In [13]:
science_marks = [54,95,64,64]
maths_marks = [58,78,98,57]

for marks_1, marks_2 in zip(science_marks, maths_marks):
    total = marks_1 + marks_2
    
    if total > 150:
        print("Qualified")

Qualified
Qualified

In [14]:
science_marks = [54,95,64,64,78]
maths_marks = [58,78,98,57]

for marks_1, marks_2 in zip(science_marks, maths_marks):
    print(marks_1, marks_2)

54 58
95 78
64 98
64 57

In [15]:
from itertools import zip_longest

In [16]:
science_marks = [54,95,64,64,78,58,78,98]
maths_marks = [58,78,98,57]

# for marks_1, marks_2 in zip(range(0,10), range(10,25)):
for marks_1, marks_2 in zip(science_marks, maths_marks):
    print(marks_1, marks_2)

54 58
95 78
64 98
64 57

In [17]:
science_marks = [54,95,64,64,78,58,78,98]
maths_marks = [58,78,98,57]

# for marks_1, marks_2 in zip_longest(range(0,10), range(10,25)):
for marks_1, marks_2 in zip_longest(science_marks, maths_marks):
    print(marks_1, marks_2)

54 58
95 78
64 98
64 57
78 None
58 None
78 None
98 None

# Assignment

### 1. Take input from user and print multiplication table of the input number using for loop and range.

### 2. Using range function print number from 100 to 1

### 3. Code to print
``` 
    * * * * * 
    * * * * *
    * * * * *
    * * * * *
```

### 4. Code to print
```
    *
    * *
    * * *
    * * * *
    * * * * *
```
### 5. Test for Prime.
    - Take input from user, and output True if its prime, False otherwise.
    

### 6. All Prime
    - Print all prime number between 10 - 500

In [18]:
print('x ' * 5)

x x x x x